@font-face {
    font-family: library;
    src: url(fonts/Library.otf);
}

*{
    margin: 0;
    padding: 0;
}


.book-shelf{
    display: grid;
    gap: 5vh;
    justify-items: center;
    grid-template-columns: repeat(4, 20vw);
}

.book-shelf div:last-child{
    margin-bottom: 20vh;
}

body{
    background-color: #FFDFF4;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

header{
    font-family: library;
    padding-top: 5vh;
    font-size: 10vh;
}

footer{
    display: flex;
    opacity: 1;
    position: fixed;
    bottom: 0;
    font-family: library;
    font-size: 4vh;
    background-color: #D05557;
    border: 1vh solid #2e0f25;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 2vh);
    height: 15vh;
}

footer button{
    background-color: #82C5BE;
    border-style: none;
    padding: 2vh 5vh 2vh 5vh;
    font-family: library;
    font-size: 4vh;
    border-radius: 5%;
}

footer button:hover{
    background-color: #71aca6;
}

.book-inventory,
.book-count{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 20vw;
}

.book-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: 50vh;
    background-color: #D05557;
    border-radius: 5%;
    border: solid 1vh #2e0f25;
    grid-template-rows: 1fr 4fr;
    display: none;
    font-size: 2.5vh;
}

.title-div{
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 1.5vw) 1.5vw;
    justify-content: center;
    padding-top: 1vh;
}

.title{
    justify-self: center;
    font-family: library;
    padding-left: 2vw;
    font-size: 5vh;
}


.close-button{
    justify-self: end;
    width: 1.5vw;
    height: 3vh;
    background: transparent;
    border-radius: 100%;
    font-size: 2.5vh;
    border: none;
}

input{
    border: .2vh solid #2e0f25;
    background-color: rgba(187, 187, 224, 0);
    border-radius: 0.4vw;
    color: white;
    width: 15vw;
    height: 2vh;
}

.input{
    display: flex;
    padding: 0.5vw;
}

input[type="radio"] {
    width: 2vh;
    height: 2vh;
}

/* Oculta as setas */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* Opcional: Defina um estilo de cursor personalizado */
  cursor: text;
}

.submit{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.submit button {
    width: 80%;
    background-color: #2e0f25;
    padding: 1vh;
    border-radius: 3vh;
    border-style: none;
    color: white;
    font-size: 2vh;
}

label{
    display: inline-block;
    width: 10vw;
}

.book-card{
    width: 20vw;
    height: 30vh;
    font-size: 3vh;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: double 1vh black;
}

.book-card h1 {
    font-family: library;
    font-size: 3vh;
}

.book-card p {
    font-size: 2.5vh;
}

.book-card button{
    font-size: 2vh;
    font-family: library;
    background-color: #D05557;
    border: none;
    width: 10vw;
    padding: 1vh 4vh 1vh 4vh;
}

@media only screen and (max-width: 768px)  {
    header{
        text-align: center;
        font-size: 7vh;
    }

    .book-form{
        width: 80vw;
        height: 50vh;
        font-size: 2.5vh;
    }
    
    .title-div{
        width: calc(100% - 2vh);
        display: grid;
        grid-template-columns: calc(100% - 1.5vw) 1.5vw;
        justify-content: center;
        padding-top: 1vh;
    }

    label{
        width: 30vw;
    }

    input{
        width: 35vw;
    }

    .book-card{
        width: 45vw;
        height: 26vh;
        font-size: 2vh;
    }

    .book-card button{
        font-size: 1.7vh;
        width: 20vw;
        padding: 1vh 2vh 1vh 2vh;
    }

    .book-shelf{
        gap: 3vh;
        grid-template-columns: repeat(2, 45vw);
    }
    
    .book-shelf div:last-child{
        margin-bottom: 15vh;
    }

    .book-inventory,
    .book-count{
        width: 27vw;
    }

    footer{
        height: 10vh;
        font-size: 2vh;
    }

    footer p{
        text-align: center;
    }

    footer button{
        padding: 1vh 2vh 1vh 2vh;
        font-size: 2vh;
    }
}